{{outlet}}
<h1>All Posts</h1>

<div class="ui divided items">
  {{#each model as |post|}}
    <div class="item">
      <div class="image">
        <img src="https://semantic-ui.com/images/wireframe/image.png">
      </div>
      <div class="content">
        <a class="header">{{post.title}}</a>
        <div class="description">
          <p>{{post.description}}</p>
        </div>
        <div class="content">
          {{moment-format post.created 'MMMM D, YYYY h:mm A'}}
        </div>
        <div class="mg-top5">
          {{#link-to 'posts.edit' post.id}}
            <button class="ui blue button">Edit</button>
          {{/link-to}}
          <button {{action 'deletePost' post.id}} class="ui red button">Delete</button>
        </div>
      </div>

    </div>
  {{/each}}
</div>